body {
  min-height: 99.7vh;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex: 1;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: "Permanent Marker", cursive;
  color: gold;
  background-color: black;
  padding: 10px;
}

.grid-settings {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: rgb(35, 35, 35);
  gap: 20px;
  flex-wrap: wrap;
  font-family: "Permanent Marker", cursive;
  color: gold;
}

.board-container {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: rgb(35, 35, 35);
}
.board {
  height: 400px;
  width: 400px;
  border: 5px solid gold;
  display: grid;
}

.footer {
  position: fixed;
  background-color: black;
  font-family: "Permanent Marker", cursive;
  color: gold;
  padding: 5px;
  font-size: 15px;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
}

.grid-item {
  background-color: var(--color);
}
button {
  font-family: "Permanent Marker", cursive;
  color: gold;
  background-color: black;
  border: none;
  height: 70px;
  border-radius: 8px;
  width: 100px;
}
button:hover {
  transform: scale(1.2);
}

.selected {
  background-color: gold;
  color: black;
}
.size-picker {
  text-align: center;
}
input[type="range"] {
  background-color: black;
}
.color-pick {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: rgb(35, 35, 35);
}
.color-pick::-webkit-color-swatch {
  border: 2px solid black;
  border-radius: 300px;
}

/* Slider Styling */
